
.report-table > *{
    font-weight: 400;
    font-size: 16px;
}

.report-table > tr {
    display: grid;
    grid-template-columns:  repeat(4, 25%);
}

.report-table > tr:first-child > td{
    display: flex;
}
/* 
.report-table > tr:last-child{
    display: flex;
} */

.rt-3 > tr {
    grid-template-columns:  repeat(3, 33%);
}

.report-table tr:nth-child(odd){
    background-color: white;
}

.report-table > tr > td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-table{
    width: 100%;
}