

.graph-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 50%;
    margin-left: 31px;
}


.chart-info-fill {
    height: 15px;
    aspect-ratio: 1;
    border-radius: 5px;
    margin-right: 12px;

}

.chart-info{
    font-weight: 400;
    color: #011F4B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23px;
}

.chart-header{
    display: flex;
    width: 100%;
    background-color: #F1FAFE;
    height: 53px;
    border-radius: 10px;
    justify-content: space-evenly;
}

.graph-data{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-data > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    aspect-ratio: 1;
}